<head>
  <link rel="stylesheet" href="./assets/product_style.css">
</head>
<div class="product">
<div id="app">
<div class="product-image">
  <img :src="image"/>
</div>


<div class="product-info">
  <h1>Product Name</h1>
<div id="app">
  <h2>{{product}}</h2>
  <p v-if="inStock">In Stock</p>
  <p v-else>Out of Stock</p>

<ul>
  <li v-for="detail in details">{{detail}}</li>
</ul>

<div  class="color-box"
  v-for="variant in variants"
  :key="variant.VariantId"
  :style="{backgroundColor: variant.VariantColor}"
  @mouseover="updateProduct(variant.VariantImage)">
</div>

<button v-on:click="addToCart"
  disabled="!inStock"
  :class="{disabledButton: !inStock}"
>Add to Cart</button>

</div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
