<template>
  <div class="question-box-container">
  <b-jumbotron>
    <template v-slot:lead>
      {{ curQuestion.question }}
    </template>

    <hr class="my-4">

    <b-list-group>
      <b-list-group-item v-for="(answer, index) in shuffledAnswers"
       :key="index" @click.prevent="selectAnswer(index)"
       :class="[selectedIndex === index ? 'selected' : '']">{{ answer }}</b-list-group-item>
    </b-list-group>

    <b-button variant="primary" @click="submitAnswer" href="#">Submit</b-button>
    <b-button variant="success" @click="next" href="#">Next</b-button>
  </b-jumbotron>
</div>
</template>

<script>
  import _ from 'lodash'
  export default{
    props: {
      curQuestion: Object,
      next: Function,
      increment: Function
    },
    data() {
      return {
        selectedIndex: null,
        shuffledAnswers: [],
        correctAnswer: ''
      }
    },
    watch: {
      curQuestion() {
        this.selectedIndex = null
        this.shuffleAnswers()
      }
    },
    methods: {
      selectAnswer(index) {
        this.selectedIndex = index
      },
      shuffleAnswers() {
        let answers = [...this.curQuestion.incorrect_answers, this.curQuestion.correct_answer]
        this.shuffledAnswers = _.shuffle(answers)
        this.correctAnswer = this.shuffledAnswers.indexOf(this.curQuestion.correct_answer)
      },
      submitAnswer() {
        let isCorrect = false

        if (this.selectedIndex === this.correctAnswer) {
          isCorrect = true
          this.increment(isCorrect)
        }
      }
    },
    computed: {
      answers() {
        let answers = [...this.curQuestion.incorrect_answers]
        answers.push(this.curQuestion.correct_answer)
        return answers
      }
    },
    mounted: function() {
      this.shuffleAnswers()
    }
  }
</script>

<style scoped>
.list-group{
  margin-bottom: 15px;
}
.list-group-item:hover{
  background: #EEE;
  cursor: pointer;
}
.btn{
  margin: 0 5px;
}
.selected{
  background-color : #lightBlue;
}
.correct{
  background-color : #lightGreen;
}
.incorrect{
  background-color : #red;
}
</style>
